/node_modules
# /public/hot
# /public/storage
# public/template/
# /public/product
# /public/halalCertificate
# /public/gmpCertificate
# /public/kkmCertificate
# /public/Profil
# /public/images
# /public/BusinessImage
# /public/BusinessProductImage
# /public/CertificateOfWork
# /public/ImagePaymentProof
# /public/landingpage
# /public/CompanySsmTradingLicense
# /public/CompanySsmCompanyInformation
/storage/*.key
/vendor
/routes/billPlz.php
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.claude
