/node_modules
/storage/*.key
/vendor
/routes/billPlz.php
.env
.env.backup
/public/*
!/public/index.php
!/public/favicon.ico
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.claude
.DS_Store
.agents
scratch
*.sql
