/node_modules
/storage/*.key
/vendor
/routes/billPlz.php
.env
.env.backup
/public/*
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.claude
